@import 'tailwindcss';

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 26.75rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 90rem;
  --breakpoint-2xl: 120rem;
  --breakpoint-3xl: 156.25rem;
}
